<div class="<%= (locals.theme.typeMenu === 'top') ? 'top-bar-boxed border-b border-theme-3 px-4 md:px-6 mb-14 md:mb-8' : 'top-bar -mx-4 px-4 md:mx-0 md:px-0' %> ">

    <% if(locals.theme.typeMenu === 'top') { %>
    <div class="h-full flex items-center">
        <!-- BEGIN: Logo -->
        <a href="" class="-intro-x hidden md:flex">
            <img alt="Tinker Tailwind HTML Admin Template" class="w-6" src="/dist/images/logo.svg">
            <span class="text-white text-lg ml-3"> <%= locals.theme.company %></span>
        </a>
        <!-- END: Logo -->
        <% } %>
        <!-- BEGIN: Breadcrumb -->
        <div class="<%= (locals.theme.typeMenu === 'top') ? '-intro-x breadcrumb breadcrumb--light mr-auto' : '-intro-x breadcrumb mr-auto hidden sm:flex' %>">
            <% locals.breadcrumbs.map((b, index, {length}) => {
            if(index + 1 === length){ //last element
            %>
            <a href="<%= b.url %>" class="capitalize breadcrumb--active"><%= b.NAME %></a>
            <% } else { %>
                <a href="<%= b.url %>" class="capitalize"><%= b.NAME %></a> <i data-feather="chevron-right"
                                                                               class="breadcrumb__icon"></i>

            <% }}) %>
        </div>
        <!-- END: Breadcrumb -->
        <!-- BEGIN: Search -->
        <div class="intro-x relative mr-3 sm:mr-6">
            <div class="search hidden sm:block">
                <input type="text" class="search__input form-control border-transparent placeholder-theme-13"
                       placeholder="Search...">
                <i data-feather="search" class="search__icon dark:text-gray-300"></i>
            </div>
            <a class="notification sm:hidden" href=""> <i data-feather="search"
                                                          class="notification__icon dark:text-gray-300"></i> </a>
            <div class="search-result">
                <div class="search-result__content">
                    <div class="search-result__content__title">Pages</div>
                    <div class="mb-5">
                        <a href="" class="flex items-center">
                            <div class="w-8 h-8 bg-theme-17 text-theme-20 flex items-center justify-center rounded-full">
                                <i class="w-4 h-4" data-feather="inbox"></i></div>
                            <div class="ml-3">Mail Settings</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 bg-theme-18 text-theme-21 flex items-center justify-center rounded-full">
                                <i class="w-4 h-4" data-feather="users"></i></div>
                            <div class="ml-3">Users & Permissions</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 bg-theme-19 text-theme-22 flex items-center justify-center rounded-full">
                                <i class="w-4 h-4" data-feather="credit-card"></i></div>
                            <div class="ml-3">Transactions Report</div>
                        </a>
                    </div>
                    <div class="search-result__content__title">Users</div>
                    <div class="mb-5">
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                     src="/dist/images/profile-2.jpg">
                            </div>
                            <div class="ml-3">Morgan Freeman</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">
                                morganfreeman@left4code.com
                            </div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                     src="/dist/images/profile-5.jpg">
                            </div>
                            <div class="ml-3">Robert De Niro</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">
                                robertdeniro@left4code.com
                            </div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                     src="/dist/images/profile-13.jpg">
                            </div>
                            <div class="ml-3">John Travolta</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">
                                johntravolta@left4code.com
                            </div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                     src="/dist/images/profile-2.jpg">
                            </div>
                            <div class="ml-3">Russell Crowe</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">
                                russellcrowe@left4code.com
                            </div>
                        </a>
                    </div>
                    <div class="search-result__content__title">Products</div>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                 src="/dist/images/preview-9.jpg">
                        </div>
                        <div class="ml-3">Apple MacBook Pro 13</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">PC &amp; Laptop</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                 src="/dist/images/preview-2.jpg">
                        </div>
                        <div class="ml-3">Nike Air Max 270</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Sport &amp; Outdoor</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                 src="/dist/images/preview-2.jpg">
                        </div>
                        <div class="ml-3">Nike Tanjun</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Sport &amp; Outdoor</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Tinker Tailwind HTML Admin Template" class="rounded-full"
                                 src="/dist/images/preview-8.jpg">
                        </div>
                        <div class="ml-3">Sony Master Series A9G</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Electronic</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END: Search -->
        <!-- BEGIN: Notifications -->
        <%- include('notification') %>
        <!-- END: Notifications -->
        <!-- BEGIN: Account Menu -->
        <%- include('dropdown') %>
        <!-- END: Account Menu -->
        <% if(locals.theme.typeMenu === 'top') { %>
    </div>
    <% } %>
</div>